@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

#rooms {
    scroll-margin-top: 5em;
}

#facilities {
    scroll-margin-top: 5em;
}

#restaurant {
    scroll-margin-top: 5em;
}

#gallery {
    scroll-margin-top: 5em;
}

#location {
    scroll-margin-top: 5em;
}

#contact {
    scroll-margin-top: 5em;
}
