@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

#kamers {
    scroll-margin-top: 5em;
}

#faciliteiten {
    scroll-margin-top: 5em;
}

#restaurant {
    scroll-margin-top: 5em;
}

#galerij {
    scroll-margin-top: 5em;
}

#omgeving {
    scroll-margin-top: 5em;
}

#contact {
    scroll-margin-top: 5em;
}
